{% extends 'base/base.html' %}

{% block body %}
    {% block navbar %}
        <div class="contain-to-grid">
            <div class="sticky">
                <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
                    <ul class="title-area">
                        <li class="name">
                            <a href="{{url_for('index')}}" class="logo">wallfe</a>
                        </li>
                        <li class="toggle-topbar menu-icon"><a href="#"></a></li>
                    </ul>
                    <section class="top-bar-section">
                        <!-- Right Nav Section -->
                        <ul class="right">
                            <li><a href="#">Lists</a></li>
                        </ul>
                    </section>
                </nav>
            </div>
        </div>
    {% endblock %}
    {% block container %}
    {% endblock %}
{% endblock %}
