.contain-to-grid {
  width: 100%;
  background: #fff;
}
.contain-to-grid .top-bar {
  background: #fff;
  border-bottom: 1px solid #e5e6e7;
}
.contain-to-grid .top-bar .logo {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 30px;
}
