.contain-to-grid
    width: 100%
    background: #fff
    .top-bar
        background: #fff
        border-bottom: 1px solid #E5E6E7
        .logo
            font-family: 'Josefin Sans', sans-serif
            font-size: 30px
